In [95]:
import sqlite3

In [96]:
nome = 'alunos.db'

In [97]:
script_alunos = """CREATE TABLE IF NOT EXISTS Alunos (
                id INTEGER PRIMARY KEY AUTOINCREMENT,
                nome TEXT NOT NULL,
                idade INTEGER NOT NULL,
                email TEXT NOT NULL
            );"""


try:
    with sqlite3.connect(nome) as conn:
        cur = conn.cursor()
        cur.execute(script_alunos)
        conn.commit()

        print("Tabelas Criadas com Sucesso")
except sqlite3.OperationalError as e:
    print("ERRO: ", e)

Tabelas Criadas com Sucesso

In [98]:
sql = "INSERT INTO Alunos (nome, idade, email) VALUES (?,?,?)"

try:
    with sqlite3.connect(nome) as conn:
        cur = conn.cursor()
        cur.execute(sql, ('Derick', 16, 'D43602122@gmail.com'))
        conn.commit()


except sqlite3.OperationalError as e:
    print("ERRO: ", e)

In [99]:
sql = "SELECT * FROM Alunos"


try:
    with sqlite3.connect(nome) as conn:
        cur = conn.cursor()      
        cur.execute(sql)
        res = cur.fetchall()

        print(res)
except sqlite3.OperationalError as e:
    print("ERRO: ", e)

[(15, 'Derick', 16, 'D43602122@gmail.com')]

In [100]:
sql = "DELETE FROM Alunos WHERE id = ?"

try:
    with sqlite3.connect(nome) as conn:
        cur = conn.cursor()
        cur.execute(sql, (2,))
        conn.commit()
        
except sqlite3.OperationalError as e:
    print("ERRO: ", e)